* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #74f1f1, #ffffff);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(2, 255, 234, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

.timeline {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.phase {
    flex: 1 1 calc(30% - 30px);
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* hide subphases and subtasks initially */
.subphases,
.subtasks {
    display: none;
}

.active .subphases,
.active .subtasks {
    display: block;
}

.phase:hover {
    background-color: #f5f5f5;
    transform: scale(1.01); 
}

.phase h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    cursor: pointer;
}

.phase .subphases.active {
    display: block;
    margin-top: 10px;
}

.subphases.active li {
    display: block;
    margin-top: 5px;
}

.subtasks.active li {
    display: block;
}

.subtasks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.active .subtasks {
    display: block;
}

button {
    background-color: rgb(86, 198, 249);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.b2c-button {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
}

.material-icons-outlined {
    vertical-align: middle;
    margin-right: 10px;
    color: rgba(255, 140, 170, 1);
}

/* chart styles */
.phase-chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phase-chart {
    width: 400px;
    margin-bottom: 20px;
}

.topic-heading {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .container {
        max-width: 95%;
    }

    .phase {
        flex: 1 1 100%;
        margin-right: 0;
    }

    .phase-chart {
        width: calc(100% - 40px);
        margin-right: 0;
    }

    button {
        width: calc(100% - 40px);
    }
}
